<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
    <title>🎤Audio Sentiment Analysis 🎙 </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-inverse">
    <div class="collapse navbar-collapse  container-fluid" id="navbarSupportedContent">
        <!--<ul class="nav navbar-nav mr-auto" style="padding-top: 5px; font-size:18px">-->

            <form action="/Predict" method="post" enctype="multipart/form-data"></form>
            <form action="/uploadcsv" method="post" enctype="multipart/form-data"></form>
            <form action="/Audiouplod" method="post" enctype="multipart/form-data"></form>
            <form action="/liverecording" method="post" enctype="multipart/form-data"></form>
            <form action="/second_anysis" method="post" enctype="multipart/form-data"></form>

            

         
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle " href="#" id="navbarDropdown"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Audio
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item "  href="{{url_for('Audiouplod')}}">Upload File</a>

                        
                    </div>
                    </form>
                </li>
            </ul>

        
        <!--</ul>-->
            
       
        
        




    </div>
</nav>
<body
    style="background-image:url(https://wallpaperaccess.com/full/3161112.png);background-size: 100% 100%">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form action="/Audiouplod" method="POST" enctype="multipart/form-data">
                    <div>

                        <h3 style="font-size:50px;color:rgb(34, 32, 32)">🎤Audio Sentiment Analysis🎙</h3>
                    </div>

                    <div class="col-xs-12 " style="font-size:20px;color:rgb(24, 22, 22)">

                        <!-- <form> -->
                        <div class="custom-file">
                            <!--<input type="file" name="file1" class="custom-file-input" id="customFile" autocomplete="off" required>-->
                            <audio id="audio">
                                <source src="" id="thesource" />
                            </audio>
                            <input type="file" id="upload" name="upload" title="Upload .wav File" />
                            <br>
                            <!-- <p>
                                <input type="submit" value="Submit">
                            </p>                         -->
                            <!-- <div class="col-xs-12"> -->
                            <br>
                            <input type="submit" class="btn btn-success btn-md" name="submit_text" value="Predict">
                            <!-- </div> -->
                            <!-- <label class="custom-file-label" for="customFile">Choose file</label> -->
                        </div>
                        <!-- </form> -->

                    </div>
            </form> 
            </div>
            <!-- </form>     -->
            <!-- <form action="/predict" method="post" enctype="multipart/form-data">   -->




            <!-- </form> -->
        
        <div class="col-md-6" style="padding-top: 10px;">
            <br>
            <h4>{{audio_prediction_result}} </h4>
            <!--<label class="predict" name="predict">{{prediction}} </label>-->
            <!-- <h3>{{prediction}}</h3>
            <h4>{{model_string}}</h4> -->
            <!--<div>
                {% for table in tables %}
                {{titles[loop.index]}}
                {{ table|safe }}
                {% endfor %}
            </div>-->
        </div>
        <!----        {% if model %}
                    
                    <div class="container" style=margin:center;>
                        {{ model|safe }}
                    </div>
                    {% endif %}
                    {% for table in tables %}
                        {{titles[loop.index]}}
                        {{ table|safe }}
                    {% endfor %}  

            </div>
            <center>
                <canvas id="chart" width="600" height="400"></canvas>
                <script>
                  // bar chart data
                  var barData = {
                    labels : [
                      {% for item in labels %}
                       "{{ item }}",
                      {% endfor %}
                ],
            
                    datasets : [{
                        fillColor: "rgba(0, 0, 255 0.4)",
                        strokeColor: "rgba(255, 0, 0,3)",
                        pointColor: "rgba(106, 90, 205,2)",
                      data : [
                        {% for item in values %}
                           "{{ item }}",
                          {% endfor %}
                    ]
                      }
                    ]
                  }
            
                 // get bar chart canvas
                 var mychart = document.getElementById("chart").getContext("2d");
            
                   steps = 10
                   max = {{max}}
            
                 // draw bar chart
                 new Chart(mychart).Bar(barData, {
                   scaleOverride: true,
                   scaleSteps: steps,
                   scaleStepWidth: Math.ceil(max / steps),
                   scaleStartValue: 0,
                   scaleShowVerticalLines: true,
                   scaleShowGridLines : true,
                   barShowStroke : true,
                   scaleShowLabels: true
                   }
                 );
            
                </script>
              </center>-->
    </div>
    </div>
    </div>
</body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>






<!-- Footer -->
<footer class="footer">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a href="https://www.nitorinfotech.com/"> nitorinfotech.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

</body>

</html>